In [1]:
#Matrices
import numpy as np 
import pandas as pd 

#Stats
import scipy
import scipy.stats as st
from scipy.optimize import fmin
from scipy import integrate
from scipy.stats.mstats import mquantiles
from sklearn import linear_model
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.linear_model import Ridge, RidgeCV, Lasso, LassoCV
from sklearn.preprocessing import StandardScaler
from sklearn.decomposition import PCA
import statsmodels.api as sm 
import statsmodels.formula.api as smf 
from itertools import combinations 
from patsy import dmatrix
#!pip install mlxtend
from mlxtend.feature_selection import SequentialFeatureSelector


#Plotting
import matplotlib.pyplot as plt
import seaborn as sns

#Misc
#!pip install stargazer
from stargazer.stargazer import Stargazer #I also have the .py in the folder (in case it fails to install or run)

In [2]:
def dummy_levels(data, cat_col, ref_cat):
    cats = list(data[cat_col].unique()) #unique values in the categorical column
    # Remove ref_cat from the array and then insert it at the beginning of the array. 
    #We do this because the first element of the array will be the reference
    cats.remove(ref_cat)
    cats.insert(0, ref_cat) 
    
    return cats

In [15]:
data_bank = pd.read_csv("bank-additional-full.csv", sep = ",") #load data
data_bank.columns = data_bank.columns.str.replace(".", "_") #avoid dots in python
data_bank_dictionary = {"******** CLIENT DATA ********": 
                        {"age": "years", "job": "type of job", "marital": "marital status", "education": "education", 
                         "default": "has credit default?", "housing":"has housing loan", "loan":"has personal loan?"},
                       "******** LAST CONTACT CURRENT CAMPAIGN ********": 
                        {"contact": "contact communication type", "month": "last contact month of year",
                        "day_of_week": "last contact day of the week", 
                         "duration": "last contact duration, in seconds. Important note: this attribute affects the output target (e.g., if duration=0 then y='no'). Yet, the duration is not known before a call is performed. Also, after the end of the call y is obviously known. Thus, this input should only be included for benchmark purposes and should be discarded if the intention is to have a realistic predictive model"},
                       "******** OTHER ********": 
                        {"campaign": "number of contacts performed during this campaign and for this client",
                        "pdays": "days that passed by after last contact from a previous campaign (999 means not previously contacted)",
                        "previous": "number of contacts performed before this campaign and for this client",
                        "poutcome": "outcome of the previous marketing campaign"},
                       "******** SOCIOECONOMIC ********": 
                        {"emp.var.rate": "employment variation rate - quarterly indicator",
                        "cons.price.idx": "consumer price index - monthly indicator",
                        "cons.conf.idx": "consumer confidence index - monthly indicator",
                        "euribor3m": "euribor 3 month rate - daily indicator",
                        "nr.employed": "number of employees - quarterly indicator"},
                       "******** DEPENDENT/ENDOGENOUS VARIABLE ********": 
                        {"y": "has the client subscribed a term deposit?"}}
print("VARIABLE MEANINGS (BY TYPE):\n")
data_bank_dictionary

VARIABLE MEANINGS (BY TYPE):

{'******** CLIENT DATA ********': {'age': 'years',
  'job': 'type of job',
  'marital': 'marital status',
  'education': 'education',
  'default': 'has credit default?',
  'housing': 'has housing loan',
  'loan': 'has personal loan?'},
 '******** LAST CONTACT CURRENT CAMPAIGN ********': {'contact': 'contact communication type',
  'month': 'last contact month of year',
  'day_of_week': 'last contact day of the week',
  'duration': "last contact duration, in seconds. Important note: this attribute affects the output target (e.g., if duration=0 then y='no'). Yet, the duration is not known before a call is performed. Also, after the end of the call y is obviously known. Thus, this input should only be included for benchmark purposes and should be discarded if the intention is to have a realistic predictive model"},
 '******** OTHER ********': {'campaign': 'number of contacts performed during this campaign and for this client',
  'pdays': 'days that passed by after last contact from a previous campaign (999 means not previously contacted)',
  'previous': 'number of contacts performed before this campaign and for this client',
  'poutcome': 'outcome of the previous marketing campaign'},
 '******** SOCIOECONOMIC ********': {'emp.var.rate': 'employment variation rate - quarterly indicator',
  'cons.price.idx': 'consumer price index - monthly indicator',
  'cons.conf.idx': 'consumer confidence index - monthly indicator',
  'euribor3m': 'euribor 3 month rate - daily indicator',
  'nr.employed': 'number of employees - quarterly indicator'},
 '******** DEPENDENT/ENDOGENOUS VARIABLE ********': {'y': 'has the client subscribed a term deposit?'}}

In [16]:
data_bank.dtypes

age                 int64
job                object
marital            object
education          object
default            object
housing            object
loan               object
contact            object
month              object
day_of_week        object
duration            int64
campaign            int64
pdays               int64
previous            int64
poutcome           object
emp_var_rate      float64
cons_price_idx    float64
cons_conf_idx     float64
euribor3m         float64
nr_employed       float64
y                  object
dtype: object

In [17]:
# Get the names of the numerical columns
numerical_cols = data_bank.select_dtypes(include=['number']).columns
print(numerical_cols)

Index(['age', 'duration', 'campaign', 'pdays', 'previous', 'emp_var_rate',
       'cons_price_idx', 'cons_conf_idx', 'euribor3m', 'nr_employed'],
      dtype='object')

In [18]:
# Get the names of the categorical columns
categorical_cols = data_bank.select_dtypes(exclude=['number']).columns
print(categorical_cols)

Index(['job', 'marital', 'education', 'default', 'housing', 'loan', 'contact',
       'month', 'day_of_week', 'poutcome', 'y'],
      dtype='object')

In [7]:
#Center numerical variables. 
#It facilitates interpretability + algorithm optimization
data_bank.loc[:, numerical_cols] = st.zscore(data_bank.loc[:, numerical_cols]) #center numerical variables
data_bank.loc[:, numerical_cols]

C:\Users\L03552670\AppData\Local\Temp\ipykernel_22652\1987726547.py:3: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '[ 1.53303429  1.62899323 -0.29018564 ...  1.53303429  0.38152696
  3.26029527]' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  data_bank.loc[:, numerical_cols] = st.zscore(data_bank.loc[:, numerical_cols]) #center numerical variables
C:\Users\L03552670\AppData\Local\Temp\ipykernel_22652\1987726547.py:3: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '[ 0.01047142 -0.42150051 -0.12451981 ... -0.26722482  0.70856893
 -0.07438021]' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  data_bank.loc[:, numerical_cols] = st.zscore(data_bank.loc[:, numerical_cols]) #center numerical variables
C:\Users\L03552670\AppData\Local\Temp\ipykernel_22652\1987726547.py:3: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '[-0.56592197 -0.56592197 -0.56592197 ... -0.20490853 -0.56592197
  0.15610492]' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  data_bank.loc[:, numerical_cols] = st.zscore(data_bank.loc[:, numerical_cols]) #center numerical variables
C:\Users\L03552670\AppData\Local\Temp\ipykernel_22652\1987726547.py:3: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '[0.1954139 0.1954139 0.1954139 ... 0.1954139 0.1954139 0.1954139]' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  data_bank.loc[:, numerical_cols] = st.zscore(data_bank.loc[:, numerical_cols]) #center numerical variables
C:\Users\L03552670\AppData\Local\Temp\ipykernel_22652\1987726547.py:3: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '[-0.34949428 -0.34949428 -0.34949428 ... -0.34949428 -0.34949428
  1.67113606]' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  data_bank.loc[:, numerical_cols] = st.zscore(data_bank.loc[:, numerical_cols]) #center numerical variables

,age,duration,campaign,pdays,previous,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed
0,1.533034,0.010471,-0.565922,0.195414,-0.349494,0.648092,0.722722,0.886447,0.712460,0.331680
1,1.628993,-0.421501,-0.565922,0.195414,-0.349494,0.648092,0.722722,0.886447,0.712460,0.331680
2,-0.290186,-0.124520,-0.565922,0.195414,-0.349494,0.648092,0.722722,0.886447,0.712460,0.331680
3,-0.002309,-0.413787,-0.565922,0.195414,-0.349494,0.648092,0.722722,0.886447,0.712460,0.331680
4,1.533034,0.187888,-0.565922,0.195414,-0.349494,0.648092,0.722722,0.886447,0.712460,0.331680
...,...,...,...,...,...,...,...,...,...,...
41183,3.164336,0.292025,-0.565922,0.195414,-0.349494,-0.752343,2.058168,-2.224953,-1.495186,-2.815697
41184,0.573445,0.481012,-0.565922,0.195414,-0.349494,-0.752343,2.058168,-2.224953,-1.495186,-2.815697
41185,1.533034,-0.267225,-0.204909,0.195414,-0.349494,-0.752343,2.058168,-2.224953,-1.495186,-2.815697
41186,0.381527,0.708569,-0.565922,0.195414,-0.349494,-0.752343,2.058168,-2.224953,-1.495186,-2.815697
41187,3.260295,-0.074380,0.156105,0.195414,1.671136,-0.752343,2.058168,-2.224953,-1.495186,-2.815697

In [8]:
#Dummy coding of categorical data
#This is necessary so that all variables are numerical 0,1 (regressions work with numbers)
#For instance, say a column has three categories: "red", "green", "blue"
#We select blue as reference, and we put 0 and 1 to red and green i.e. two columns
#In the column "red", I put 1 whenever there is a red, 0 otherwise.
#In the columns "green", I put 1 whenever there is a green, 0 otherwise
#Note that blue is just when both red and green columns have 0s, 
#so we do not need a new column, just know which is the reference category

#Let's begin by defining the reference categories
refs = {'job':'unemployed',
       'marital': 'single',
       'education': 'university.degree',
       'default': 'no',
       'housing': 'no',
       'loan': 'no',
       'contact': 'telephone',
       'month': 'dec',
       'day_of_week': 'mon',
       'poutcome': 'failure'}

#Now let's put the references in a vector along with the other categories
print("The reference is always first\n\n")
levels = []
for key, value in refs.items():
    l = dummy_levels(data_bank, key, value)
    levels.append(l)
    print(key, l, "\n")

The reference is always first


job ['unemployed', 'housemaid', 'services', 'admin.', 'blue-collar', 'technician', 'retired', 'management', 'self-employed', 'unknown', 'entrepreneur', 'student']

marital ['single', 'married', 'divorced', 'unknown']

education ['university.degree', 'basic.4y', 'high.school', 'basic.6y', 'basic.9y', 'professional.course', 'unknown', 'illiterate']

default ['no', 'unknown', 'yes']

housing ['no', 'yes', 'unknown']

loan ['no', 'yes', 'unknown']

contact ['telephone', 'cellular']

month ['dec', 'may', 'jun', 'jul', 'aug', 'oct', 'nov', 'mar', 'apr', 'sep']

day_of_week ['mon', 'tue', 'wed', 'thu', 'fri']

poutcome ['failure', 'nonexistent', 'success']

In [29]:
# Define the endogenous variable. 
y = data_bank['y'].replace({'no': 0, 'yes': 1}) #we need to replace strings with 0 and 1

#Now the regression. Lasso will the reduce the number of variables
formula = "~ age + duration + campaign + pdays + " \
          "previous + emp_var_rate + cons_price_idx + " \
          "cons_conf_idx + euribor3m + nr_employed + " \
          "job + marital + education + default + housing + " \
          "loan + contact + month + day_of_week + poutcome"
dm = dmatrix(formula, data_bank)  #design matrix
X = pd.DataFrame(dm, columns = dm.design_info.column_names)
X
#dc = dmatrix("~ C(job, levels=jobs)", data_bank) #Dummy coding of job
#print("NUMBER OF ORIGINAL JOB CATEGORIES:\n", len(jobs))
#print("\nNUMBER OF JOB DUMMIES:\n", dc.shape[1]-1) #minus one because we do not count the intercept
#print("\nDUMMY COLUMNS (NOTE THAT THE REFERENCE IS NOT PRESENT)\n", dc.design_info.column_names)
#print("\nDUMMY CODES\nCOLUMNS AS ORGANIZED IN jobs (WITHOUT THE REFERENCE)\n", dc[:, 1:]) #Each column is a job (without the reference). There is a one if the job is there, else zero

#print("\nEXAMPLE. IN DUMMY CODES THE FIRST COLUMN IS FOR HOUSEMAID.\n THE FIRST ROW IS A 1 BECAUSE IN data_bank['job'] THE FIRST ROW IS HOUSEMAID\n", data_bank.loc[:, "job"])

C:\Users\L03552670\AppData\Local\Temp\ipykernel_22652\345206779.py:2: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  y = data_bank['y'].replace({'no': 0, 'yes': 1}) #we need to replace strings with 0 and 1

,Intercept,job[T.blue-collar],job[T.entrepreneur],job[T.housemaid],job[T.management],job[T.retired],job[T.self-employed],job[T.services],job[T.student],job[T.technician],...,age,duration,campaign,pdays,previous,emp_var_rate,cons_price_idx,cons_conf_idx,euribor3m,nr_employed
0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,56.0,261.0,1.0,999.0,0.0,1.1,93.994,-36.4,4.857,5191.0
1,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,57.0,149.0,1.0,999.0,0.0,1.1,93.994,-36.4,4.857,5191.0
2,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,37.0,226.0,1.0,999.0,0.0,1.1,93.994,-36.4,4.857,5191.0
3,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,40.0,151.0,1.0,999.0,0.0,1.1,93.994,-36.4,4.857,5191.0
4,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,56.0,307.0,1.0,999.0,0.0,1.1,93.994,-36.4,4.857,5191.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41183,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,73.0,334.0,1.0,999.0,0.0,-1.1,94.767,-50.8,1.028,4963.6
41184,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,46.0,383.0,1.0,999.0,0.0,-1.1,94.767,-50.8,1.028,4963.6
41185,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,56.0,189.0,2.0,999.0,0.0,-1.1,94.767,-50.8,1.028,4963.6
41186,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,44.0,442.0,1.0,999.0,0.0,-1.1,94.767,-50.8,1.028,4963.6
41187,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,74.0,239.0,3.0,999.0,1.0,-1.1,94.767,-50.8,1.028,4963.6

In [32]:
# LASSO regression CV uses, by default, leave-one-out cross validation. 
# In cross validation, we create train and test splits of the data.
# We fit train data, and then see the prediction adequacy with the test set
lr = LassoCV(n_alphas = 200).fit(X, y) #alphas are the lambdas in the slides i.e. the strength of regularization

In [33]:
[lr.score(X, y), #R^2
 lr.alpha_
]

[0.31566527484965723, 0.1378864414377681]

In [38]:
res = pd.concat([pd.Series(np.append("Intercept", lr.feature_names_in_)), 
                 pd.Series(np.append(lr.intercept_, lr.coef_))], axis=1)
res.columns = ["Var", "Estimate"]
res #Note how some estimates go to zero i.e. free feature selection

                                 Var  Estimate
0                          Intercept  6.061545
1                          Intercept  0.000000
2                 job[T.blue-collar] -0.000000
3                job[T.entrepreneur] -0.000000
4                   job[T.housemaid]  0.000000
5                  job[T.management] -0.000000
6                     job[T.retired]  0.000000
7               job[T.self-employed] -0.000000
8                    job[T.services] -0.000000
9                     job[T.student]  0.000000
10                 job[T.technician]  0.000000
11                 job[T.unemployed]  0.000000
12                    job[T.unknown]  0.000000
13                marital[T.married] -0.000000
14                 marital[T.single]  0.000000
15                marital[T.unknown] -0.000000
16             education[T.basic.6y] -0.000000
17             education[T.basic.9y] -0.000000
18          education[T.high.school] -0.000000
19           education[T.illiterate]  0.000000
20  education[T.professional.course]  0.000000
21    education[T.university.degree]  0.000000
22              education[T.unknown]  0.000000
23                default[T.unknown] -0.000000
24                    default[T.yes]  0.000000
25                housing[T.unknown] -0.000000
26                    housing[T.yes]  0.000000
27                   loan[T.unknown] -0.000000
28                       loan[T.yes] -0.000000
29              contact[T.telephone] -0.000000
30                      month[T.aug]  0.000000
31                      month[T.dec]  0.000000
32                      month[T.jul]  0.000000
33                      month[T.jun]  0.000000
34                      month[T.mar]  0.000000
35                      month[T.may] -0.000000
36                      month[T.nov] -0.000000
37                      month[T.oct]  0.000000
38                      month[T.sep]  0.000000
39                day_of_week[T.mon] -0.000000
40                day_of_week[T.thu]  0.000000
41                day_of_week[T.tue]  0.000000
42                day_of_week[T.wed]  0.000000
43           poutcome[T.nonexistent]  0.000000
44               poutcome[T.success]  0.000000
45                               age  0.000000
46                          duration  0.000466
47                          campaign  0.000000
48                             pdays -0.000355
49                          previous -0.000000
50                      emp_var_rate -0.000000
51                    cons_price_idx  0.000000
52                     cons_conf_idx  0.000000
53                         euribor3m  0.000000
54                       nr_employed -0.001108