In [1]:
#Matrices
import numpy as np 
import pandas as pd 

#Stats
import scipy
import scipy.stats as st
from scipy.optimize import fmin
from scipy import integrate
from scipy.stats.mstats import mquantiles
from sklearn import linear_model
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.linear_model import Ridge, RidgeCV, Lasso, LassoCV
from sklearn.preprocessing import StandardScaler
from sklearn.decomposition import PCA
import statsmodels.api as sm 
import statsmodels.formula.api as smf 
from itertools import combinations 
from patsy import dmatrix
#!pip install mlxtend
from mlxtend.feature_selection import SequentialFeatureSelector


#Plotting
import matplotlib.pyplot as plt
import seaborn as sns

#Misc
#!pip install stargazer
from stargazer.stargazer import Stargazer #I also have the .py in the folder (in case it fails to install or run)

In [2]:
def dummy_levels(data, cat_col, ref_cat):
    cats = list(data[cat_col].unique()) #unique values in the categorical column
    # Remove ref_cat from the array and then insert it at the beginning of the array. 
    #We do this because the first element of the array will be the reference
    cats.remove(ref_cat)
    cats.insert(0, ref_cat) 
    
    return cats

In [43]:
data_bank = pd.read_csv("bank-additional-full.csv", sep = ",") #load data
data_bank.columns = data_bank.columns.str.replace(".", "_") #avoid dots in python
data_bank = data_bank[~data_bank.isin(['unknown']).any(axis=1)] # Remove rows containing 'unknown'
data_bank_dictionary = {"******** CLIENT DATA ********": 
                        {"age": "years", "job": "type of job", "marital": "marital status", "education": "education", 
                         "default": "has credit default?", "housing":"has housing loan", "loan":"has personal loan?"},
                       "******** LAST CONTACT CURRENT CAMPAIGN ********": 
                        {"contact": "contact communication type", "month": "last contact month of year",
                        "day_of_week": "last contact day of the week", 
                         "duration": "last contact duration, in seconds. Important note: this attribute affects the output target (e.g., if duration=0 then y='no'). Yet, the duration is not known before a call is performed. Also, after the end of the call y is obviously known. Thus, this input should only be included for benchmark purposes and should be discarded if the intention is to have a realistic predictive model"},
                       "******** OTHER ********": 
                        {"campaign": "number of contacts performed during this campaign and for this client",
                        "pdays": "days that passed by after last contact from a previous campaign (999 means not previously contacted)",
                        "previous": "number of contacts performed before this campaign and for this client",
                        "poutcome": "outcome of the previous marketing campaign"},
                       "******** SOCIOECONOMIC ********": 
                        {"emp.var.rate": "employment variation rate - quarterly indicator",
                        "cons.price.idx": "consumer price index - monthly indicator",
                        "cons.conf.idx": "consumer confidence index - monthly indicator",
                        "euribor3m": "euribor 3 month rate - daily indicator",
                        "nr.employed": "number of employees - quarterly indicator"},
                       "******** DEPENDENT/ENDOGENOUS VARIABLE ********": 
                        {"y": "has the client subscribed a term deposit?"}}
print("VARIABLE MEANINGS (BY TYPE):\n")
data_bank_dictionary

VARIABLE MEANINGS (BY TYPE):

{'******** CLIENT DATA ********': {'age': 'years',
  'job': 'type of job',
  'marital': 'marital status',
  'education': 'education',
  'default': 'has credit default?',
  'housing': 'has housing loan',
  'loan': 'has personal loan?'},
 '******** LAST CONTACT CURRENT CAMPAIGN ********': {'contact': 'contact communication type',
  'month': 'last contact month of year',
  'day_of_week': 'last contact day of the week',
  'duration': "last contact duration, in seconds. Important note: this attribute affects the output target (e.g., if duration=0 then y='no'). Yet, the duration is not known before a call is performed. Also, after the end of the call y is obviously known. Thus, this input should only be included for benchmark purposes and should be discarded if the intention is to have a realistic predictive model"},
 '******** OTHER ********': {'campaign': 'number of contacts performed during this campaign and for this client',
  'pdays': 'days that passed by after last contact from a previous campaign (999 means not previously contacted)',
  'previous': 'number of contacts performed before this campaign and for this client',
  'poutcome': 'outcome of the previous marketing campaign'},
 '******** SOCIOECONOMIC ********': {'emp.var.rate': 'employment variation rate - quarterly indicator',
  'cons.price.idx': 'consumer price index - monthly indicator',
  'cons.conf.idx': 'consumer confidence index - monthly indicator',
  'euribor3m': 'euribor 3 month rate - daily indicator',
  'nr.employed': 'number of employees - quarterly indicator'},
 '******** DEPENDENT/ENDOGENOUS VARIABLE ********': {'y': 'has the client subscribed a term deposit?'}}

In [44]:
data_bank.dtypes

age                 int64
job                object
marital            object
education          object
default            object
housing            object
loan               object
contact            object
month              object
day_of_week        object
duration            int64
campaign            int64
pdays               int64
previous            int64
poutcome           object
emp_var_rate      float64
cons_price_idx    float64
cons_conf_idx     float64
euribor3m         float64
nr_employed       float64
y                  object
dtype: object

In [45]:
# Get the names of the numerical columns
numerical_cols = data_bank.select_dtypes(include=['number']).columns
print(numerical_cols)

Index(['age', 'duration', 'campaign', 'pdays', 'previous', 'emp_var_rate',
       'cons_price_idx', 'cons_conf_idx', 'euribor3m', 'nr_employed'],
      dtype='object')

In [46]:
# Get the names of the categorical columns
categorical_cols = data_bank.select_dtypes(exclude=['number']).columns
print(categorical_cols)

Index(['job', 'marital', 'education', 'default', 'housing', 'loan', 'contact',
       'month', 'day_of_week', 'poutcome', 'y'],
      dtype='object')

In [47]:
#Center numerical variables. 
#It facilitates interpretability + algorithm optimization
data_bank.loc[:, numerical_cols] = st.zscore(data_bank.loc[:, numerical_cols]) #center numerical variables
data_bank.loc[:, numerical_cols]

C:\Users\L03552670\AppData\Local\Temp\ipykernel_22652\1987726547.py:3: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '[ 1.64225272 -0.19645225  0.09386958 ...  1.64225272  0.48096537
  3.38418375]' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  data_bank.loc[:, numerical_cols] = st.zscore(data_bank.loc[:, numerical_cols]) #center numerical variables
C:\Users\L03552670\AppData\Local\Temp\ipykernel_22652\1987726547.py:3: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '[ 0.00579232 -0.12794351 -0.41452029 ... -0.26932139  0.69739761
 -0.0782702 ]' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  data_bank.loc[:, numerical_cols] = st.zscore(data_bank.loc[:, numerical_cols]) #center numerical variables
C:\Users\L03552670\AppData\Local\Temp\ipykernel_22652\1987726547.py:3: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '[-0.55933525 -0.55933525 -0.55933525 ... -0.19170249 -0.55933525
  0.17593026]' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  data_bank.loc[:, numerical_cols] = st.zscore(data_bank.loc[:, numerical_cols]) #center numerical variables
C:\Users\L03552670\AppData\Local\Temp\ipykernel_22652\1987726547.py:3: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '[0.21188711 0.21188711 0.21188711 ... 0.21188711 0.21188711 0.21188711]' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  data_bank.loc[:, numerical_cols] = st.zscore(data_bank.loc[:, numerical_cols]) #center numerical variables
C:\Users\L03552670\AppData\Local\Temp\ipykernel_22652\1987726547.py:3: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '[-0.3716159  -0.3716159  -0.3716159  ... -0.3716159  -0.3716159
  1.54123665]' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  data_bank.loc[:, numerical_cols] = st.zscore(data_bank.loc[:, numerical_cols]) #center numerical variables

,age,duration,campaign,pdays,previous,emp_var_rate,cons_price_idx,cons_conf_idx,euribor3m,nr_employed
0,1.642253,0.005792,-0.559335,0.211887,-0.371616,0.727477,0.804095,0.877451,0.786102,0.401648
2,-0.196452,-0.127944,-0.559335,0.211887,-0.371616,0.727477,0.804095,0.877451,0.786102,0.401648
3,0.093870,-0.414520,-0.559335,0.211887,-0.371616,0.727477,0.804095,0.877451,0.786102,0.401648
4,1.642253,0.181559,-0.559335,0.211887,-0.371616,0.727477,0.804095,0.877451,0.786102,0.401648
6,1.932575,-0.460373,-0.559335,0.211887,-0.371616,0.727477,0.804095,0.877451,0.786102,0.401648
...,...,...,...,...,...,...,...,...,...,...
41183,3.287410,0.284727,-0.559335,0.211887,-0.371616,-0.638666,2.124640,-2.129332,-1.368408,-2.624025
41184,0.674513,0.471957,-0.559335,0.211887,-0.371616,-0.638666,2.124640,-2.129332,-1.368408,-2.624025
41185,1.642253,-0.269321,-0.191702,0.211887,-0.371616,-0.638666,2.124640,-2.129332,-1.368408,-2.624025
41186,0.480965,0.697398,-0.559335,0.211887,-0.371616,-0.638666,2.124640,-2.129332,-1.368408,-2.624025
41187,3.384184,-0.078270,0.175930,0.211887,1.541237,-0.638666,2.124640,-2.129332,-1.368408,-2.624025

In [48]:
#Dummy coding of categorical data
#This is necessary so that all variables are numerical 0,1 (regressions work with numbers)
#For instance, say a column has three categories: "red", "green", "blue"
#We select blue as reference, and we put 0 and 1 to red and green i.e. two columns
#In the column "red", I put 1 whenever there is a red, 0 otherwise.
#In the columns "green", I put 1 whenever there is a green, 0 otherwise
#Note that blue is just when both red and green columns have 0s, 
#so we do not need a new column, just know which is the reference category

#Let's begin by defining the reference categories
refs = {'job':'unemployed',
       'marital': 'single',
       'education': 'university.degree',
       'default': 'no',
       'housing': 'no',
       'loan': 'no',
       'contact': 'telephone',
       'month': 'dec',
       'day_of_week': 'mon',
       'poutcome': 'failure'}

#Now let's put the references in a vector along with the other categories
print("The reference is always first\n\n")
levels = []
for key, value in refs.items():
    l = dummy_levels(data_bank, key, value)
    levels.append(l)
    print(key, l, "\n")

The reference is always first


job ['unemployed', 'housemaid', 'services', 'admin.', 'technician', 'blue-collar', 'retired', 'entrepreneur', 'management', 'student', 'self-employed']

marital ['single', 'married', 'divorced']

education ['university.degree', 'basic.4y', 'high.school', 'basic.6y', 'professional.course', 'basic.9y', 'illiterate']

default ['no', 'yes']

housing ['no', 'yes']

loan ['no', 'yes']

contact ['telephone', 'cellular']

month ['dec', 'may', 'jun', 'jul', 'aug', 'oct', 'nov', 'mar', 'apr', 'sep']

day_of_week ['mon', 'tue', 'wed', 'thu', 'fri']

poutcome ['failure', 'nonexistent', 'success']

In [64]:
# Define the endogenous variable. 
y = data_bank['y'].replace({'no': 0, 'yes': 1}) #we need to replace strings with 0 and 1

#Now the regression. Lasso will the reduce the number of variables
formula = "~ -1 + age + duration + campaign + pdays + " \
          "previous + emp_var_rate + cons_price_idx + " \
          "cons_conf_idx + euribor3m + nr_employed + " \
          "C(job, levels=levels[0]) + C(marital, levels=levels[1]) + " \
          "C(education, levels=levels[2]) + C(default, levels=levels[3]) + " \
          "C(housing, levels=levels[4]) + C(loan, levels=levels[5]) + " \
          "C(contact, levels=levels[6]) + C(month, levels=levels[7]) + " \
          "C(day_of_week, levels=levels[8]) + C(poutcome, levels=levels[9])"
dm = dmatrix(formula, data_bank)  #design matrix
X = pd.DataFrame(dm, columns = dm.design_info.column_names)
X
#dc = dmatrix("~ C(job, levels=jobs)", data_bank) #Dummy coding of job
#print("NUMBER OF ORIGINAL JOB CATEGORIES:\n", len(jobs))
#print("\nNUMBER OF JOB DUMMIES:\n", dc.shape[1]-1) #minus one because we do not count the intercept
#print("\nDUMMY COLUMNS (NOTE THAT THE REFERENCE IS NOT PRESENT)\n", dc.design_info.column_names)
#print("\nDUMMY CODES\nCOLUMNS AS ORGANIZED IN jobs (WITHOUT THE REFERENCE)\n", dc[:, 1:]) #Each column is a job (without the reference). There is a one if the job is there, else zero

#print("\nEXAMPLE. IN DUMMY CODES THE FIRST COLUMN IS FOR HOUSEMAID.\n THE FIRST ROW IS A 1 BECAUSE IN data_bank['job'] THE FIRST ROW IS HOUSEMAID\n", data_bank.loc[:, "job"])

C:\Users\L03552670\AppData\Local\Temp\ipykernel_22652\1587810642.py:2: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  y = data_bank['y'].replace({'no': 0, 'yes': 1}) #we need to replace strings with 0 and 1

,"C(job, levels=levels[0])[unemployed]","C(job, levels=levels[0])[housemaid]","C(job, levels=levels[0])[services]","C(job, levels=levels[0])[admin.]","C(job, levels=levels[0])[technician]","C(job, levels=levels[0])[blue-collar]","C(job, levels=levels[0])[retired]","C(job, levels=levels[0])[entrepreneur]","C(job, levels=levels[0])[management]","C(job, levels=levels[0])[student]",...,age,duration,campaign,pdays,previous,emp_var_rate,cons_price_idx,cons_conf_idx,euribor3m,nr_employed
0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.642253,0.005792,-0.559335,0.211887,-0.371616,0.727477,0.804095,0.877451,0.786102,0.401648
1,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,-0.196452,-0.127944,-0.559335,0.211887,-0.371616,0.727477,0.804095,0.877451,0.786102,0.401648
2,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.093870,-0.414520,-0.559335,0.211887,-0.371616,0.727477,0.804095,0.877451,0.786102,0.401648
3,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.642253,0.181559,-0.559335,0.211887,-0.371616,0.727477,0.804095,0.877451,0.786102,0.401648
4,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.932575,-0.460373,-0.559335,0.211887,-0.371616,0.727477,0.804095,0.877451,0.786102,0.401648
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30483,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,3.287410,0.284727,-0.559335,0.211887,-0.371616,-0.638666,2.124640,-2.129332,-1.368408,-2.624025
30484,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.674513,0.471957,-0.559335,0.211887,-0.371616,-0.638666,2.124640,-2.129332,-1.368408,-2.624025
30485,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,1.642253,-0.269321,-0.191702,0.211887,-0.371616,-0.638666,2.124640,-2.129332,-1.368408,-2.624025
30486,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.480965,0.697398,-0.559335,0.211887,-0.371616,-0.638666,2.124640,-2.129332,-1.368408,-2.624025
30487,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,3.384184,-0.078270,0.175930,0.211887,1.541237,-0.638666,2.124640,-2.129332,-1.368408,-2.624025

In [65]:
# LASSO regression CV uses, by default, leave-one-out cross validation. 
# In cross validation, we create train and test splits of the data.
# We fit train data, and then see the prediction adequacy with the test set
lr = LassoCV(n_alphas = 200).fit(X, y) #alphas are the lambdas in the slides i.e. the strength of regularization

In [66]:
[lr.score(X, y), #R^2
 lr.alpha_
]

[0.3491205109384412, 0.0011655016362476717]

In [69]:
res = pd.concat([pd.Series(np.append("Intercept", lr.feature_names_in_)), 
                 pd.Series(np.append(lr.intercept_, lr.coef_))], axis=1)
res.columns = ["Var", "Estimate"]
res #Note how some estimates go to zero i.e. automatic feature selection

                                                  Var  Estimate
0                                           Intercept  0.127439
1                C(job, levels=levels[0])[unemployed] -0.000000
2                 C(job, levels=levels[0])[housemaid] -0.000000
3                  C(job, levels=levels[0])[services] -0.003088
4                    C(job, levels=levels[0])[admin.]  0.000000
5                C(job, levels=levels[0])[technician]  0.000000
6               C(job, levels=levels[0])[blue-collar] -0.014469
7                   C(job, levels=levels[0])[retired]  0.000000
8              C(job, levels=levels[0])[entrepreneur] -0.000000
9                C(job, levels=levels[0])[management] -0.000000
10                  C(job, levels=levels[0])[student]  0.000000
11            C(job, levels=levels[0])[self-employed] -0.000000
12            C(marital, levels=levels[1])[T.married] -0.000660
13           C(marital, levels=levels[1])[T.divorced] -0.000000
14         C(education, levels=levels[2])[T.basic.4y] -0.000000
15      C(education, levels=levels[2])[T.high.school] -0.000000
16         C(education, levels=levels[2])[T.basic.6y]  0.000000
17  C(education, levels=levels[2])[T.professional....  0.000000
18         C(education, levels=levels[2])[T.basic.9y] -0.000000
19       C(education, levels=levels[2])[T.illiterate]  0.000000
20                C(default, levels=levels[3])[T.yes]  0.000000
21                C(housing, levels=levels[4])[T.yes] -0.000000
22                   C(loan, levels=levels[5])[T.yes] -0.000000
23           C(contact, levels=levels[6])[T.cellular]  0.023520
24                  C(month, levels=levels[7])[T.may] -0.081034
25                  C(month, levels=levels[7])[T.jun]  0.000000
26                  C(month, levels=levels[7])[T.jul]  0.003958
27                  C(month, levels=levels[7])[T.aug]  0.000000
28                  C(month, levels=levels[7])[T.oct]  0.000000
29                  C(month, levels=levels[7])[T.nov] -0.014527
30                  C(month, levels=levels[7])[T.mar]  0.146077
31                  C(month, levels=levels[7])[T.apr] -0.000000
32                  C(month, levels=levels[7])[T.sep] -0.000000
33            C(day_of_week, levels=levels[8])[T.tue]  0.000000
34            C(day_of_week, levels=levels[8])[T.wed]  0.004520
35            C(day_of_week, levels=levels[8])[T.thu]  0.000000
36            C(day_of_week, levels=levels[8])[T.fri] -0.000000
37       C(poutcome, levels=levels[9])[T.nonexistent]  0.012254
38           C(poutcome, levels=levels[9])[T.success]  0.000000
39                                                age  0.000000
40                                           duration  0.122573
41                                           campaign  0.000692
42                                              pdays -0.065887
43                                           previous -0.012387
44                                       emp_var_rate -0.044328
45                                     cons_price_idx  0.030010
46                                      cons_conf_idx  0.025175
47                                          euribor3m -0.000000
48                                        nr_employed -0.075145

# Exercise Lasso: Case Scholastic Travel Company (STC)

1) Do Lasso regression on the STC data set (STC_AB.csv). The endogenous variable is "Retained.in.2012."
2) What variables survived? Namely, which ones do not have a zero estimate.
3) Interpret the sign of those variables.